        *,:root {
            user-select: none;
            margin: 0;
            padding: 0;
            border: none;
            box-sizing: border-box;
        }

        #dialogAvatar{
            margin-top: 1em;
            height: 10vh;
            border-style: solid;
            border-image: url(assets/border.png) 16 / 32;
        }

        #dialogText{
            white-space: pre-wrap;
        }

        #dialogBox {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center top; 
            background-size: cover;
            border-style: solid;

            display: none;
            width: 100%;
            text-align: center;
            text-shadow: -2px 2px 0px black, 2px 2px 0px black,
                -2px -2px 0px black, 2px -2px 0px black;
            color: #B77;
            font-weight: bolder;
            font-size: 3em;
            z-index: 2;
            position: fixed;
            left: 0px;
            top: 0em;
            white-space: pre-wrap;
        }

        #buttons {
            visibility: hidden;
        }

        button,
        #music,
        #zoomIn,
        #zoomOut {
            padding: 0px 0px 0px 0px;
            box-sizing: border-box;
            position: fixed;
            z-index: 10;
            font-size: 3em;
            height: 1em;
            line-height: 1em;
            text-align: center;
            width: 1em;
            font-style: new courier, monospace;
            border-radius: 50%;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
            border: 2px solid brown;
        }

        #music {
            left: 0;
            top: 0;
        }

        #zoomIn {
            left: 0;
            top: 1em;
        }

        #zoomOut {
            left: 0em;
            top: 2em;
        }

        canvas {
            background-color: beige;
            top: 0px;
            left: 0px;
            display: block;
            border: 1px solid white;
        }

        audio {
            display: none;
        }
